@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:wght@100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 20px;
  fontFamily: "Montserrat",
}
html {
  scroll-behavior: smooth;
}

.loader {
  position: relative;
  font-size: 16px;
  width:  5.5em;
  height: 5.5em;
  }
  .loader:before{
    content: '';
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
    height: 100%;
    width: 4px;
    background: #1a1919;
    left: 50%;
    top: 50%;
  }
  .loader:after{
    content: '';
    position: absolute;
    left: 0.2em;
    bottom: 0.18em;
    width: 1em;
    height: 1em;
    background-color: #de3500;
    border-radius: 15%;
    animation: rollingRock 2.5s cubic-bezier(.79, 0, .47, .97) infinite;
  }
@keyframes rollingRock {
  0% {transform: translate(0, -1em) rotate(-45deg)}
  5% {transform: translate(0, -1em) rotate(-50deg)}
  20% {transform: translate(1em, -2em) rotate(47deg)}
  25% {transform: translate(1em, -2em) rotate(45deg)}
  30% {transform: translate(1em, -2em) rotate(40deg)}
  45% {transform: translate(2em, -3em) rotate(137deg)}
  50% {transform: translate(2em, -3em) rotate(135deg)}
  55% {transform: translate(2em, -3em) rotate(130deg)}
  70% {transform: translate(3em, -4em) rotate(217deg)}
  75% {transform: translate(3em, -4em) rotate(220deg)}
  100% {transform: translate(0, -1em) rotate(-225deg)}
}
  
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;


  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-prev, .swiper-button-next{
  color: #de3500;
}
.swiper-slide img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  /* object-fit: cover; */

}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #de3500;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: #de3500;
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
